@(personalInformation: Form[PersonalInformation], generalUserInformation: Form[GeneralUserInformation])
@import helper._
@import helper.twitterBootstrap._

@main("Welcome to Play 2.0") {

    @form(routes.UsersController.save()){
        @inputText(personalInformation("firstName"), '_label -> "Firstname", 'style -> "width: 712px;", 'maxLength -> "150")
        @inputText(personalInformation("lastName"), '_label -> "Lastname", 'style -> "width: 712px;", 'maxLength -> "150")
        @inputText(personalInformation("userEmail"), '_label -> "Email", 'style -> "width: 712px;", 'maxLength -> "150")
        @inputText(personalInformation("age"), '_label -> "Age", 'style -> "width: 712px;", 'maxLength -> "20")
        @inputText(personalInformation("gender"), '_label -> "Gender", 'style -> "width: 712px;", 'maxLength -> "50")
        @inputText(generalUserInformation("nickname"), '_label -> "Nickname", 'style -> "width: 712px;", 'maxLength -> "50")
        @inputText(generalUserInformation("activitiesOfInterest"), '_label -> "Activity Type", 'style -> "width: 712px;", 'maxLength -> "150")
        @inputText(generalUserInformation("details"), '_label -> "Details", 'style -> "width: 712px;", 'maxLength -> "250")

        <input type="submit" value="Create" class="btn btn-primary">
    }

}